// ****************************
// *
// * Import CSS file.
// *
// ****************************

@import "bootstrap";
@import "protospace";

// ****************************

footer {
  text-align: center;
}

.tag_list {
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
}
